# PART 1: LOAD AND CLEAN DATA

https://www.kaggle.com/datasets/sakshigoyal7/credit-card-customers

Question: who is a target client?

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# pip install scikit-learn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import OneHotEncoder

In [23]:
df = pd.read_csv("BankChurners.csv")

In [24]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [25]:
# There was info about this file
# that we need to delete last two columns
columns_list = df.columns.tolist()
columns_list

['CLIENTNUM',
 'Attrition_Flag',
 'Customer_Age',
 'Gender',
 'Dependent_count',
 'Education_Level',
 'Marital_Status',
 'Income_Category',
 'Card_Category',
 'Months_on_book',
 'Total_Relationship_Count',
 'Months_Inactive_12_mon',
 'Contacts_Count_12_mon',
 'Credit_Limit',
 'Total_Revolving_Bal',
 'Avg_Open_To_Buy',
 'Total_Amt_Chng_Q4_Q1',
 'Total_Trans_Amt',
 'Total_Trans_Ct',
 'Total_Ct_Chng_Q4_Q1',
 'Avg_Utilization_Ratio',
 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
 'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']

In [26]:
columns_to_drop = ['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1', 
                   'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']
df = df.drop(columns=columns_to_drop)

In [27]:
df.duplicated().sum()

0

In [28]:
df.isna().sum()

CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

In [29]:
df.head()

# drop CLIENTNUM
# Attrition_Flag: Existing Customer OR Attrited Customer --> 1 or 0
# Gender --> 1 or 0
# Education_Level --> check and change to numeric
# Marital_Status --> check and change to numeric
# Income_Category --> check and change to numeric
# Card_Category --> check and change to numeric

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [30]:
# drop CLIENTNUM
columns_to_drop = ["CLIENTNUM"]
df = df.drop(columns=columns_to_drop)

In [31]:
# Attrition_Flag: Existing Customer OR Attrited Customer --> 1 or 0
# this makes multiple columns with the variable (Separate for yes/no)
from sklearn.preprocessing import OneHotEncoder
variables = ['Attrition_Flag']

# use encoder
encoder = OneHotEncoder(sparse_output=False).set_output(transform="pandas")
one_hot_encoded = encoder.fit_transform(df[variables]).astype(int)
df = pd.concat([df,one_hot_encoded],axis=1).drop(columns=variables)

TypeError: __init__() got an unexpected keyword argument 'sparse_output'

In [ ]:
# drop the second columns
columns_to_drop = ["Attrition_Flag_Attrited Customer"]
df = df.drop(columns=columns_to_drop)

In [ ]:
# Gender --> 1 or 0

from sklearn.preprocessing import LabelEncoder
variables = ['Gender']
encoder = LabelEncoder()

# apply the LabelEncoder to specific columns in our DataFrame (see variables above)
df[variables] = df[variables].apply(encoder.fit_transform)

In [ ]:
df.head()

In [ ]:
# Education_Level --> check and change to numeric
unique_values = df['Education_Level'].unique()
unique_values

In [ ]:
# pandas get_dummies to change data to numeric
variable = 'Education_Level'
dummies = pd.get_dummies(df[variable]).astype(int)
df = pd.concat([df, dummies], axis=1).drop(columns=variable)

In [ ]:
df.head()

In [ ]:
# drop the last column
columns_to_drop = ["Unknown"]
df = df.drop(columns=columns_to_drop)

# the same steps with 
# Marital_Status --> check and change to numeric
# Income_Category --> check and change to numeric
# Card_Category --> check and change to numeric

In [ ]:
# Marital_Status --> check and change to numeric
unique_values = df['Marital_Status'].unique()
unique_values

In [ ]:
variable = 'Marital_Status'
dummies = pd.get_dummies(df[variable]).astype(int)
df = pd.concat([df, dummies], axis=1).drop(columns=variable)

In [ ]:
# drop the last column
columns_to_drop = ["Unknown"]
df = df.drop(columns=columns_to_drop)

In [ ]:
# Income_Category --> check and change to numeric
unique_values = df["Income_Category"].unique()
unique_values

In [ ]:
variable = 'Income_Category'
dummies = pd.get_dummies(df[variable]).astype(int)
df = pd.concat([df, dummies], axis=1).drop(columns=variable)

In [ ]:
columns_to_drop = ["Unknown"]
df = df.drop(columns=columns_to_drop)

In [ ]:
# Card_Category --> check and change to numeric
unique_values = df['Card_Category'].unique()
unique_values

In [ ]:
variable = 'Card_Category'
dummies = pd.get_dummies(df[variable]).astype(int)
df = pd.concat([df, dummies], axis=1).drop(columns=variable)

In [ ]:
# drop the last column
columns_to_drop = ["Platinum"]
df = df.drop(columns=columns_to_drop)

In [ ]:
df.head()
# now all data is numeric

# PART 2: Balance of data

In [ ]:
class_counts = df['Attrition_Flag_Existing Customer'].value_counts()
class_counts

In [ ]:
sns.displot(df, x="Customer_Age")

In [ ]:
# there is no need to check other columns 
# because we can see that the main columns are more or less balanced
# but we will remove outliers anyway 
# version 1, SciPy, extreme outliers that go under -3 or over +3 in normal distribution
from scipy import stats
df = df[(np.abs(stats.zscore(df)) < 3).all(axis=1)]

# PART 3: The train/test â€“split

In [ ]:
# a common trick in X/y -split
# X = everything else in the DataFrame minus the target variable
# y = only the target variable
X = df.drop('Attrition_Flag_Existing Customer', axis=1)
y = df['Attrition_Flag_Existing Customer']

In [ ]:
# split the data into train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [ ]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.calibration import CalibratedClassifierCV
from sklearn.model_selection import GridSearchCV
from sklearn import svm
# Logistics regression's resutls:
	
#              precision    recall  f1-score   support
#
#           0       0.71      0.55      0.62       301
#           1       0.93      0.96      0.94      1746

#    accuracy                           0.90      2047
#   macro avg       0.82      0.76      0.78      2047
#weighted avg       0.89      0.90      0.90      2047
#Model overall accuracy: 90.13%





# new experiments:
# 1:
# Define your pipeline
model = make_pipeline(StandardScaler(), svm.SVC(probability=True))

# Fit the pipeline to your training data
model.fit(X_train, y_train)

#              precision    recall  f1-score   support

#           0       0.86      0.65      0.74       275
#           1       0.94      0.98      0.96      1431

#    accuracy                           0.93      1706
#   macro avg       0.90      0.81      0.85      1706
#weighted avg       0.92      0.93      0.92      1706
# Model overall accuracy: 92.56%





# 2:
# Define your pipeline
#model = make_pipeline(StandardScaler(), svm.LinearSVC())

# Fit the pipeline to your training data
#model.fit(X_train, y_train)

#              precision    recall  f1-score   support

#           0       0.80      0.59      0.68       261
#           1       0.93      0.97      0.95      1445

#    accuracy                           0.91      1706
#   macro avg       0.86      0.78      0.81      1706
#weighted avg       0.91      0.91      0.91      1706
# Model overall accuracy: 91.44%
# 2 is worse than 1






# 3:
#param_grid = {
#    'C': [1, 1.25, 1.5, 1.35, 1.4, 1.5, 2, 3],
#    "gamma": [0.1, 0.15, 0.25, 0.35],
#    "kernel": ["sigmoid", "rbf", "linear"]
#}

# create and fit the model
#model = make_pipeline(StandardScaler(), svm.SVC(probability=True))
#model.fit(X_train, y_train)

#              precision    recall  f1-score   support

#           0       0.80      0.59      0.68       266
#           1       0.93      0.97      0.95      1440

#    accuracy                           0.91      1706
#   macro avg       0.86      0.78      0.81      1706
#weighted avg       0.91      0.91      0.91      1706
# Model overall accuracy: 91.21%
# 1 is the best for now




# 4:
# Define the parameter grid
#param_grid = {
#    'C': [1, 1.25, 1.5, 1.35, 1.4, 1.5, 2, 3],
#    "gamma": [0.1, 0.15, 0.25, 0.35],
#    "kernel": ["sigmoid", "rbf", "linear"]
#}

# Create and fit the model
#model = make_pipeline(StandardScaler(), GridSearchCV(svm.SVC(probability=True), param_grid, refit=True, verbose=3))
#model.fit(X_train, y_train)

#              precision    recall  f1-score   support
#
#           0       0.84      0.60      0.70       262
#           1       0.93      0.98      0.95      1444
#
#    accuracy                           0.92      1706
#   macro avg       0.88      0.79      0.83      1706
#weighted avg       0.92      0.92      0.91      1706
# Model overall accuracy: 92.03%
# it took about 5 minutes to run
# 1 is the best for now




# 5:
#model = make_pipeline(StandardScaler(), CalibratedClassifierCV(svm.LinearSVC()))
#model.fit(X_train, y_train)
#              precision    recall  f1-score   support

#           0       0.77      0.60      0.67       268
#           1       0.93      0.97      0.95      1438

#    accuracy                           0.91      1706
#   macro avg       0.85      0.78      0.81      1706
#weighted avg       0.90      0.91      0.90      1706
# Model overall accuracy: 90.91%
# 1 is the best



# analysis
# SVC is better in this case than LogReg because:
# 1. SVC better handle NON-linear connecitons
# 2. Maybe in this dataset pattern is more complex than should be for LogReg 
# to be successful
# 3. Maybe I still have some outliers 
# SVC better handles outliers than LogReg

# PART 5: Error and performance metrics

In [ ]:
# make test predictions with new data with our model
predictions = model.predict(X_test)

In [ ]:
# print the classification report based on true values and predictions
print(classification_report(y_test, predictions))

# get overall accuracy of the model and print it
acc = accuracy_score(y_test, predictions)
print("\nModel overall accuracy: {:.2f}%".format(acc * 100))

In [ ]:
print(confusion_matrix(y_test, predictions))

# if you want a more graphical version of this, try:
# the fmt-parameter will change to decimal format from scientific format
# sns.heatmap(confusion_matrix(y_test, predictions), annot=True, fmt='g')

# the first row is not good
# but the second row of metrics show better results

In [ ]:
# The AUC score is a super sensitive metric
# you often get low scores, even 0.5

# in binary logistic regression, AUC values are often interpreted as follows:
# A binary classifier is useful only when it achieves ROC-AUC score greater than 0.5 and as near to 1 as possible. 
# If a classifier yields a score less than 0.5, it simply means that the model is performing worse 
# than a random classifier, and therefore is useless.

# In multinomial logistic regression , AUC values are often interpreted as follows: 
# 0.5-0.6 (failed)
# 0.6-0.7 (worthless)
# 0.7-0.8 (poor)
# 0.8-0.9 (good)
# > 0.9 (excellent)

# basically 0.5 means you could get the same result with just random guessing
roc_auc_score(y, model.predict_proba(X.values)[:, 1])

# not good resutls but the metric is very sensitive

# PART 6: a tester row

In [ ]:
df.columns

In [ ]:
pd.set_option('display.max_columns', None)
df.head()

In [ ]:
# Months_on_book --> Period of relationship with bank
# 'Total_Relationship_Count' --> Total no. of products held by the customer
# Avg_Open_To_Buy' --> Open to Buy Credit Line (Average of last 12 months)
# 'Total_Amt_Chng_Q4_Q1' --> Change in Transaction Amount (Q4 over Q1)
tester_row = {
    'Customer_Age': 32, 
    'Gender': 0, 
    'Dependent_count': 0, 
    'Months_on_book': 36,
    'Total_Relationship_Count': 1, 
    'Months_Inactive_12_mon': 0,
    'Contacts_Count_12_mon': 4, 
    'Credit_Limit': 4000, 
    'Total_Revolving_Bal': 26000,
    'Avg_Open_To_Buy': 16000, 
    'Total_Amt_Chng_Q4_Q1': 1.100, 
    'Total_Trans_Amt': 2200,
    'Total_Trans_Ct': 38, 
    'Total_Ct_Chng_Q4_Q1': 0.700, 
    'Avg_Utilization_Ratio': 0,
    'College': 0, 
    'Doctorate': 0, 
    'Graduate': 1,
    'High School': 0, 
    'Post-Graduate': 0, 
    'Uneducated': 0, 
    'Divorced': 0, 
    'Married': 1,
    'Single': 0, 
    '$120K +': 0, 
    '$40K - $60K': 1, 
    '$60K - $80K': 0, 
    '$80K - $120K': 0,
    'Less than $40K': 0, 
    'Blue': 1, 
    'Gold': 0, 
    'Silver': 0
}

# create a pandas DataFrame and scale the values
tester_row = pd.DataFrame([tester_row])
tester_row = sc.transform(tester_row)

print("All probabilities by category:")
print(logmodel.predict_proba(tester_row))
print()

# change these based on your original data
labels = ["No", "Yes"]

print("Does this customer stay in this bank (Yes/No):")
result = labels[logmodel.predict(tester_row)[0]]
print(result)
print("-------------------")

# PART 7: Analysis

This log reg can be used in banking system particulary in the marketing department because they can understand on which customers they need to focus on.

This task was difficult for me becuase I had to think of what I need to change and how to do it.

Possible optimization could be in the decreasing amount of colums. But I am not sure that there is any limit for the amount of columns.